@import '_variables';
@import '_reset';

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 2.5fr 3.5fr;
    grid-template-rows: 130px 1fr;
    grid-template-areas: 
    'nav header'
    'nav content';
    height: 1000vh;
    color: $font-color-white;
    
}

.header {
    grid-area: header;
    background-color: $red;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    top: 0;
    position: sticky;

    a {
        color: $similar-black;
        &:hover {
            color: $white;
        }
    }
    
    p {
        position: sticky;
    }

}

.content {
    grid-area: content;
    background-color: $red;
    border-top: 0.5px solid $dark-red;
    padding-left: 70px;
    padding-top: 70px;
    .video_info {
        margin-right: 80px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    h2 {
        font-size: 50px;
    }
    ul {
        display: flex;
        display: flex;
        justify-content: space-between;
        padding-right: 75px;
        padding-top: 50px;
        padding-bottom: 150px;
        li {
            color: $similar-black;
        }
        #my {
            font-size: 18px;
        }
        #leave {
            display: flex;
            text-decoration: underline;
            align-items: flex-end;
        }
        #noC {

        }
        
    }
}

.nav {
    grid-area: nav;
    background-color: $white;
    color: $red;
    height: 100vh;
    padding-top: 85px;
    padding-left: 65px;
    padding-right: 140px;
    top: 0;
    position: sticky;
    
    
    h1 {
        font-size: 75px;
    }
    h2 {
        padding-top: 60px;
        font-size: 25px;
    }
    h3 {
        padding-top: 30px;
        font-size: 18px;
    }
    div {
        width: 90%;
        padding-top: 30px;
        flex-wrap: wrap;
        display: flex;
        
    }
    a {
        color: $font-color-heavy-grey;
        text-decoration: underline;
        padding-left: 10px;
        padding-bottom: 15px;
        
    }
    span {
        color: $font-color-light-grey;
        font-size: 10px;
        padding-bottom: 20px;
    }
    
        
    
}